.amino {
    stroke: black;
    stroke-width: 0.5;
}

.amino text {
    font-size: 10px;
    font-weight: bold;
    stroke: none;
    fill: white;
    transform: translate(6px, 14px);
}

.amino.A {
    fill: #ae0050;
}

.amino.R {
    fill: #00affa;
}

.amino.N {
    fill: #cfff10;
}

.amino.D {
    fill: #ab0000;
}

.amino.C {
    fill: #5af500;
}

.amino.E {
    fill: #e23123;
}

.amino.Q {
    fill: #e10fff;
}

.amino.G {
    fill: #0ea0ac;
}

.amino.P {
    fill: #829842;
}

.amino.S {
    fill: #901080;
}

.amino.Y {
    fill: #901030;    
}

.amino.H {
    fill: #509020;   
}
    
.amino.I {
    fill: #a0f00a;
}
    
.amino.L {
    fill: #efa000;
}

.amino.K {
    fill: #0008ff;
}

.amino.M {
    fill: #80a800;
}


.amino.F {
    fill: #7fc2d1;
}

.amino.T {
    fill: #909090;
}